body::before {
    display: block;
    content: " ";
    height: 60px;
}

#map {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The breakpoint for medium is 768 */
@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}