body::before {
    display: block;
    content: " ";
    height: 60px;
}

#map {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The breakpoint for medium is 768 */
@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.yellowbg {
    background-color: #e9e800;
}

@font-face {
    font-family: sfpro;
    src: url('fonts/SF-Pro-Text-Medium.otf');
}

@font-face {
    font-family: suisse;
    src: url('fonts/SuisseWorks-Regular.ttf');
}

@font-face {
    font-family: sfprolight;
    src: url('fonts/SF-Pro-Text-Light.otf');
}

.myheading {
    font-family: suisse;
}

.mytext {
    font-family: sfpro;
    font-size: 17px;
}

.mybigtext {
    font-family: sfpro;
    font-size: 22px;    
}

.mylighttext {
    font-family: sfprolight;
    font-size: 17px;
}

.footer-text {
    font-family: sfprolight;
    font-size:14px;
    color: white;
    text-decoration: none;
}

.footer-text:hover {
    text-decoration: underline;
}